h3 Les languages
  ul(class="navbar-nav ms-3")
    li(class="nav-item") Html
    li(class="nav-item"):  a(href="/lecss") Css
    li(class="nav-item") Javascript 
    li(class="nav-item"):  a(href="/sql") Sql

h3 Les outils
  ul(class="navbar-nav ms-3")
    li(class="nav-item") Node
    li(class="nav-item") React
    li(class="nav-item"): a(href="/git") Git/Github 

h3 Les services
  ul(class="navbar-nav ms-3")
    li(class="nav-item") N8n
    li(class="nav-item") Stripe