extends layout.pug

block content
    .content 
        .menu
            include includes/menu.pug

        .page
            - const capitalize = s => s && s[0].toUpperCase() + s.slice(1)
            h1= capitalize('my art potentiel cloud')
                .block
                    p Une petite app qui tourne avec node.js
                    p   
                        span - réalisée en local puis push sur git 
                    p   
                        span - hébergée gratuitement chez Render 
                    p   
                        span - avec une belle redirection depuis Ovh
