extends layout.pug

block content
    .content 
        .menu
            include includes/menu.pug
        .page
            - const capitalize = s => s && s[0].toUpperCase() + s.slice(1)
            .block
                h1= capitalize('les basiques du Sql')
            .block
                h3 Installer MongoDB
                p Document de référence
                code https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-ubuntu/
                p Sur linux ubuntu
                br
                p Installer gnupg et curl
                code sudo apt-get install gnupg curl
                h3 Le code de base pour MongoDB
                code curl -fsSL https://www.mongodb.org/static/pgp/server-7.0.asc | \
                code sudo gpg -o /usr/share/keyrings/mongodb-server-7.0.gpg \
                code --dearmor
                p Créer la listfile pour les paquets mongo
                code echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-7.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-7.0.list
                p Recharger la list des paquets
                code sudo apt-get update
                p Installer les paquets de MongoDB
                code sudo apt-get install -y mongodb-org
                p Démarrer MongoDB
                code sudo systemctl start mongod
                p Vérifier que Mongo à bien démarré
                code sudo systemctl status mongod
                p Pour que Mongo se lance en meme temps que le système (reboot)
                code sudo systemctl enable mongod
                p Pour arrêter et redémarrer Mongo
                code sudo systemctl stop mongod
                code sudo systemctl restart mongod
            .block 
                h3 Utiliser MongoDB
                p Lancer le shell depuis le terminal
                code mongosh
                p Sélectionner une base de données ou la créer le cas échéant
                code use database
                p Créer un utilisateur
                code db.createUser({user: "user", pwd: "password", roles: [ "readWrite"]})
                p Lister les collections
                code db.getCollectionNames()
                p Créer une collection
                code db.createCollection()
                p Créer un document 
                code db.mycollectionname.insertOne({title: "", index: "1", nbreOflessons: 12});
            .block
                h3 Installer MariaDB
                p Sur linux ubuntu
                code apt install 
                h3 Le code de base pour MariaDB
                p Voir la version installée
                code mysql -V
                p Se connecter à MariaDB
                code mysql -u utilisateur -p
                p Lister les bases de données
                code show databases;
                p Créer une base de données
                code CREATE DATABASE wild;
                p Sélectionner la base de données sur laquelle travailler
                code USE wild;
                p Lister les tables
                code SHOW TABLES;
                p Quitter MariaDB
                code ctr q
            .block
                h3 Installer PostgreSQL
                p Sur linux ubuntu
                code apt install postgresql
            .block
                h3 Se connecter à la base de données psql
                p Vérifier que psql est bien installé
                code psql --version
                p Se connecter à une base de données existante
                code psql -d database_name -U username
                p Accéder à la base de donnée installée par défault comme  superuser
                code psql -d postgres -U postgres
                p Demander une aide générale
                code \?
                p Demander de l'aide sur une commande
                code \h COMMAND
                p Pour quitter une requête en cours / quitter psql
                code q / ctrl d
            .block
                h3 Opérations sur les bases de données psql
                p Créer une base de donnée
                code CREATE DATABASE database_name;
                p Lister les bases de données
                code \l ou \l+
                p Changer de base de donnée
                code \c database_name
                p Supprimer une base de donnée
                code DROP DATABASE IF EXISTS database_name;
            .block
                h3 Opérations sur les tables psql
                p Créer une table
                code CREATE TABLE table_name();
                br
                code.
                    CREATE TABLE authors(
                    author_id SERIAL PRIMARY KEY, 
                    first_name VARCHAR(100) NOT NULL, 
                    last_name VARCHAR(100) NOT NULL
                    );
                p Insérer une data
                code INSERT INTO authors (first_name, last_name)
                br
                code VALUES (‘Tamsyn’, ‘Muir’), (‘Ann’, ‘Leckie’), (‘Zen’, ‘Cho’);
                p Selectionner les données d'une table
                code SELECT * FROM authors;
                p Lister toutes les tables
                code \dt
                p Obtenir plus d'infos sur une table
                code \d table_name
                p Rennomer une table
                code ALTER TABLE table_name RENAME TO new_table_name;
                p Supprimer une table
                code DROP TABLE table_name;
                p Ouvrir le bloc note pour écrire une longue requête
                code \e
            .block
                h3 Quelques liens
                p Free code camp
                code https://www.freecodecamp.org/news/manage-postgresql-with-psql/