.titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(114, 34, 10);
    padding: 0 24px;
}

.content {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    border-right: 1px solid rgb(179, 164, 164);
    padding: 48px 12px 48px 48px;
    height: 90vh;
}
.menu h3 {
    color: rgb(87, 84, 84);
    font-size: 24px;
}
.menu ul {
    padding: 12px 0 12px 0;
}
.menu li {
    color: grey;
    font-size: 18px;
}
.menu li a {
    color: rgb(8, 94, 26);
    text-decoration: none;
}

.page {
    display: flex;
    flex: 6 0 auto;
    flex-direction: row;
    padding: 48px;
}
.page .block {
    padding: 24px;
}
.page h1 {
    padding: 0;
}
.page p {
    font-size: 18px;
    color: darkgray;
    margin: 6px 0 -10px 0;
    padding: 20px 0 0 0;
}
.page code {
    font-size: 16px;
    margin-left: 12px;
    padding: 6px;
    background-color: rgb(244, 248, 248);
}